[Desktop Entry]
Type=Application
Name=Solin
GenericName=Media and projection control
Comment=Control meetings, media, projection, OBS and Zoom
Exec=solin %F
Icon=com.solin.Solin
Terminal=false
Categories=AudioVideo;
MimeType=application/vnd.solin.playlist+zip;
StartupNotify=true
StartupWMClass=Solin
